body {
    font-family: sans-serif;
}
header {
    background-color: lightblue;
}
h1  {
    color: pink;
}
footer p {
  border:10px solid lightblue;
}
nav  {
    border: 5px solid grey;
    padding: 3px;
    margin:5px;
}
nav a { 
    text-decoration: none;
}
h2   { 
    color: blue;
}
main  {
    font-size:20px;
    margin:20px;
}
